<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssm.dao.DepartmentMapper">
  <!--数据库表和实体类的映射关系-->
  <parameterMap id="parameterMap" type="ssm.entity.Department"></parameterMap>

  <resultMap id="DepartmentMap" type="ssm.entity.Department">
    <!--主键可以使用id标签-->
    <id property="deptId" column="deptId"/>
    <result property="deptName" column="deptName"/>
  </resultMap>
  <!--//统一配置sql查询字段，需要时通过include>refid引入-->
  <sql id="deptSql">
    <trim suffixOverrides=",">
      m.deptId,
      m.deptName,
    </trim>
  </sql>

  <!--sql语句,同一配置文件namespace下的id不能重复-->
  <!--查询-->
  <select id="getDepartment" parameterType="ssm.entity.Department" resultMap="DepartmentMap">
    select
    <include refid="messageSql"></include>
    from dept m
    where 1=1
    <if test="deptId != null and !&quot;&quot;.equals(deptId.trim())">and m.deptId=#{deptId}</if>
    <if test="deptName != null and !&quot;&quot;.equals(deptName.trim())">and m.deptName like '%'
      #{deptName} '%'
    </if>
  </select>

</mapper>